.header {
    text-align: center;
    color: #353535;
    padding: 10px 0 10px 0;
}

.purchased-products-list {
    border: 2px solid #FF6F61;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}

.item-date,
.purchased-item {
    border-bottom: 2px solid #FF6F61;
}